@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/* containers */

.container{
    margin: 0.5rem 0.5rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}